
@import 'variables';
@import 'mixins';
@import 'nav';
@import 'main';


body {
  font: 100% $font-stack;
  background-color: $bgblur-color;
  position: relative;
  margin: 0px auto;
  max-height: 1024px;

  // first Background circles
  &::before {
    @include background-circle1(447px, 384px, 300px, '../assets/Ellipse 5circle1.svg');
  }

  //  second background circle
  &::after {
    @include background-circle2(197px, 103px, 500px, '../assets/Ellipse\ 6circle2.svg');
  }

 background blur
&::before, &::after, &::after {
    filter: blur(130px);
  }
  
  .nike {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 900px; 
      height: 600px; 
      background: url('../assets/NIKENIKE-backtext.svg') no-repeat center/contain; 
      z-index: -1;
  }
}

